 <!DOCTYPE html>
<html>
    <title>Liv.ai Test </title>
    <body>
        <div style="text-align:center">
            <h1>Liv.ai Test </h1>

            <h2>Please choose one from list </h2> <br><br><br><br>

        
            <a href="/livai/transcription/">The Transcription API</a> <br><br>
            <a href="/livai/tags/">The tags API</a> <br><br>
            <a href="/livai/chat/">The Chat UI</a> <br><br>
            <a href="/livai/registertag/">Register New Tag</a> <br><br>
        </div>
        
    </body>
</html>
